body {
	font-family: 'Raleway', 'Arial', sans-serif;
	font-size: 18px;
	background: #fff url(../images/bg.jpg);
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
	overflow-x: hidden;
	font-weight: 300;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

.main {
	width: 95%;
	margin: 40px auto 0 auto;
	position: relative;
}
