@import url('normalize.css');
@import url('demo.css');
@font-face {
	font-family: 'entypo-selected';
	src: url("font/entypo-selected.eot");
	src: 
	url("font/entypo-selected.eot?#iefix") format('embedded-opentype'), 
	url("font/entypo-selected.woff") format('woff'), 
	url("font/entypo-selected.ttf") format('truetype'), 
	url("font/entypo-selected.svg#entypo-selected") format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}